.authors {
  .paragraph {
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #EAECEE;
      cursor: pointer;
    }
  }
  .image {
    text-align: center;
    img {
      max-width: 80%;
    }
  }
  .post-card {
    .header-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}
